# 视频转字幕工具依赖包
# Python 版本要求
# python<=3.12.0 python=>3.9.0

# 核心依赖
openai-whisper==20250625
transformers==5.5.4
# torch==2.8.0+cu126
# torchaudio==2.8.0+cu126
# torchvision==0.23.0+cu126
huggingface_hub==1.11.0
sentencepiece==0.2.1
tokenizers==0.22.2

# Web和UI
gradio==6.13.0
gradio_client==2.5.0
fastapi==0.136.0
uvicorn==0.45.0
python-multipart==0.0.26

# 视频处理
ffmpy==1.0.0
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
moviepy==2.2.1

# 工具库
numpy==2.4.4
pandas==3.0.2
pydantic==2.13.3
pydantic_core==2.46.3
requests==2.33.1
tqdm==4.67.3

# 其他支持库
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
decorator==5.2.1
filelock==3.29.0
fsspec==2026.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.12
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.1
pillow==11.3.0
pydub==0.25.1
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
urllib3==2.6.3

# 音频处理
soundfile==0.13.1
cffi==2.0.0
pycparser==3.0
silero-vad==6.2.1

# 模型加速
accelerate==1.13.0


